// Colors
// 
// Default text color
$default-color: #2A2A2A;
body { color: $default-color;}

$anchor-color: #3D3D3D;
a { color: $anchor-color; text-decoration: none;}
$anchor-visited-color: #414141;
a:visited { color: $anchor-visited-color; }
$anchor-hover-color: #757575;
a:hover { color: $anchor-hover-color; }

$block-quote: #2C2C2C;

@mixin main-font(){
  font-family: 'Crimson Text', serif;
}

@mixin code-font(){
  font-family: 'Cousine', sans-serif;
}

@mixin heading-font(){
  font-family: 'Tenor Sans', sans-serif;
}