
nav li {
  margin: 17px 0;
  
  a {
    text-decoration: none;
    color: #6A6A6A;
    padding: 7px 15px;
    @include rounded(5px);
    
    &:visited {
      color: #8F8F8F;
    }
    
    &:hover {
      color: black;
      background-color: #EDEDED;
    }
  }
}

nav ul {
  margin-bottom: 30px;
}