---
---

@import "reset";



$default-color: #2A2A2A;
$anchor-color: #3D3D3D;
$anchor-visited-color: #414141;
$anchor-hover-color: #757575;
$block-quote: #2C2C2C;
$light-bg: #E7E7E7; 
$light-outline: lighten($light-bg, 2%);
$arrow-color: darken($light-outline, 30%);
$footer-height: 150px;


@import "mixins";
@import "base";
@import "layout";
@import "modules";
@import "theme";
