<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>{{ page.title }} | RyanJM</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
	
	<link href='http://www.myopenid.com/server' rel='openid.server' />
  <link href='http://ryanjm.myopenid.com/' rel='openid.delegate' />
</head>
<body>
  <div id="wrap">
    <div id="container">
      <header>
        <h1><a href="{{site.var.home_path}}">RyanJM</a></h1>
      </header>
      <nav>
          <ul>
            <li><a href="{{site.var.home_path}}">Home</a></li>
            <li><a href="{{site.var.archive_path}}">Archive</a></li>
          </ul>
        

      </nav>
      <div class="content">
  				{{ content }}
  	  </div>
	  
    </div>  
    <div id="push"> </div>
  </div>
  <footer>
    <div>
      <p class="about">Hi, my name is Ryan. I'm the lead developer at 
        <a href='http://nelsoncash.com'>Nelson Cash</a> and a 
        founder at <a href='http://orangeqc.com'>OrangeQC</a>. 
        I mostly work with Ruby on Rails and Objective-C.</p>
    </div>
  </footer>

{% if site.safe %}
  {% include production/analytics.html %}
{% endif %}
</body>
</html>
