pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  overflow: auto;
}

p code {
  font-size: 13px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  padding: 2px;
  border-radius: 3px;
}