h1.title {
  margin: 0 0 15px;
  font-size: 35px;
}

ul.menu {
  margin: 15px 0px 30px 0px;
  padding-left: 0px;
  overflow: auto;
  
  li {
    list-style-type: none;
    float: left;
    margin: 10px 25px;
    
    a {
      text-decoration: none;
      color: #6A6A6A;
      padding: 7px 15px;
      @include rounded(5px);

      &:visited {
        color: #8F8F8F;
      }

      &:hover {
        color: black;
        background-color: #EDEDED;
      }
    }
  }
}

ul.archive {
  margin-left: 0px;
  padding-left: 0px;
  
  li {
    list-style-type: none;
    margin: 5px 0px;
  }
}

ul.indent {
  margin-left: 30px;
}