// http://www.cssstickyfooter.com/ 

html, body {height: 100%;}

#wrap {min-height: 100%;}

#container {overflow:auto;
	padding-bottom: $footer_height;}  /* must be same height as the footer */

footer {
  position: relative;
	margin-top: -1 * $footer_height; /* negative value of footer height */
	height: $footer_height;
	clear:both;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
